.App {
  height: 100vh;     
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: hidden;         
}

.game-shell {
  display: flex;
  flex: 1 1 auto;   
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0 0 45px 0;
  min-height: 0;
  overflow: hidden;
}

.center-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  flex: 1 1 auto;    
  min-height: 0;    
  overflow: hidden;
}

.column-left,.column-right{
  flex-basis: 27.5%;
  flex-grow:0;
  flex-shrink: 0;
  max-width: 27.5%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding: 6px;
}

@media (max-width: 600px) {
    .main-box-container {
        flex-direction: column;
    }
}

.title-bar{
  background-color: rgb(15, 18, 27);
  padding: 0;
  margin: 0;
  white-space: normal;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  color: rgb(37, 83, 136);
  font-size: 12px;
}

