.App {
  text-align: center;
  overflow-y: auto;
}

.main-box-container{
  position: relative;
  display: inline-block;
  min-width: 300px; 
  max-width: 800px;
  height: 96dvh;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(13, 30, 46);
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  box-sizing: border-box;
}

.title-bar{
  background-color: rgb(15, 18, 27);
  padding: 0;
  margin: 0;
  white-space: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  color: rgb(37, 83, 136);
  font-size: 12px;
}

