@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.char-menu-cont{
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 18, 27);
  padding: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  border-color: rgb(36, 37, 46);
  border-style: solid;
  border-width: 1px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  /* height: 48vh; */
  border-radius: 4px;
  overflow: hidden;
}

.char-menu-tabs{
    display: flex;
    justify-content:space-evenly;
    margin-top: 5px;
    color: #3FFFEF;
    text-shadow: 0 0 6px #3FFFEF55;
    overflow: hidden;
}

.tab{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
.tab:hover{
    background-color: #0C1A2E;
    border-radius: 4px 4px 0 0;
}
.tab-active{
    background-color: #0C1A2E;
    border-radius: 4px 4px 0 0;
}
.char-menu-display{
  background-color: rgb(2, 2, 8);
  margin: 0 2px 2px 2px;
  flex: 1 1 auto;
  overflow: hidden;
  min-height: 0;
}

.char-equip-cont {
  background-color: rgb(10, 13, 20);
  background-image:
    linear-gradient(rgba(63, 255, 239, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(63, 255, 239, 0.05) 1px, transparent 1px);
  background-size: 14px 14px;
  background-position: center center;
  border: 1px solid rgb(36, 37, 46);
  border-radius: 4px;
}




.char-equip-cont .class{
  color: white;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.char-equip-cont .name{
  color: rgb(81, 89, 207);
}