@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.char-menu-cont{
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 18, 27);
  padding: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  border-color: rgb(36, 37, 46);
  border-style: solid;
  border-width: 2px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  /* height: 48vh; */
  border-radius: 4px;
  overflow: hidden;
}

.char-menu-tabs{
    display: flex;
    justify-content:space-evenly;
    margin-top: 5px;
    color: #3FFFEF;
    text-shadow: 0 0 6px #3FFFEF55;
    overflow: hidden;
}

.tab{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
.tab:hover{
    background-color: #0C1A2E;
    border-radius: 4px 4px 0 0;
}
.tab-active{
    background-color: #0C1A2E;
    border-radius: 4px 4px 0 0;
}
.char-menu-display{
  background-color: rgb(2, 2, 8);
  margin: 0 2px 2px 2px;
  flex: 1 1 auto;
  overflow: hidden;
  min-height: 0;
}