.hologram-cont {
  display: flex;
  justify-content: center;   /* centers horizontally */
  align-items: center;        /* centers vertically */
  text-align: center;

  background: radial-gradient(
      circle at center,
      rgb(17, 25, 35) 0%,
      rgb(12, 17, 26) 100%
  );

  width: 100%;
  height: 100%;   /* or set a fixed height like 350px */
}

.hologram-cont img {
  width: 350px;
  display: block;
}
