.too-small{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgb(15, 15, 15, 0.35);
}

.check-msg{
    position: relative;
    text-align: center;
    top: 50%;
}