* {
  box-sizing: border-box;
}

canvas {
  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* Firefox */
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(10, 10, 14);
  color: white;
}

h3{
  padding: 0;
  margin: 0;
  /* text-decoration: underline; */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
}

.noselect {
  user-select: none;        /* Standard */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}