@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.login-box{
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    position: relative;
    margin: 5% 20% 0 20%;
    padding: 0;
    background-color: black;
    color: rgb(230, 230, 243);
    min-height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(29, 32, 58);
    letter-spacing: 2px;
}

.login-box button{
    background-color: rgb(15, 15, 26);
    color: rgb(69, 136, 223);
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.login-box button:hover{
    background-color: rgb(10, 10, 10);
}

.login-box input{
    background-color: rgb(15, 15, 26);
    color:rgb(30, 255, 0);
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 1px;
}

.login-box img{
    width: 40px;
}