.scene-info-cont{
  height: 33vh;
  box-sizing: border-box;
  overflow-y: auto;
}
.scene-info{
  padding: 15px;
  text-align: left;    
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: rgb(255, 255, 255);
  /* fill most of the box height, minus space for title + input */
  /* min-height: 30%;
  max-height: 60%; */
  display: block;
  background-color: rgb(15, 15, 26);
  scrollbar-width: thin;
}

.scene-info-cont::-webkit-scrollbar {
  width: 5px;         /* or whatever */
}

.scene-info-cont::-webkit-scrollbar-track{
  background: #000000; /* Color of the thumb */
}

.scene-info-cont::-webkit-scrollbar-thumb {
  background-color: rgb(7, 7, 7);
  border-radius: 1px;
  border: 1px solid #242931; /* fake outline around thumb */
}

.scene-info p.other-chat{
    color: rgb(224, 204, 197);
    font-size: 12px;
}

.main-text-input{
    position: relative;
    margin-top: 15px;
    width: 95%;
    background-color: rgb(19, 21, 26);
    border-color: rgb(70, 96, 102);
    border-width: 1px;
    border-style: solid;   
    color: rgb(196, 196, 196);
    outline: none;
    overflow: hidden;
}

.time-stamp{
  color: rgb(102, 129, 141);
  border-color: black;
}