.scene-info-cont {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

/* scroll area */
.scene-info-scroll {
  flex: 1 1 auto;
  min-height: 0;
  max-height: 100%;
  overflow-y: auto;
}

.scene-info {
  padding: 15px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #fff;
  background-color: rgb(2, 2, 8);
  flex: 1 1 auto;
  min-height: 0;
  max-height: 100%;
}

/* custom scrollbar */
.scene-info-scroll::-webkit-scrollbar {
  width: 5px;
}
.scene-info-scroll::-webkit-scrollbar-track {
  background: #000;
}
.scene-info-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(7, 7, 7);
  border-radius: 1px;
  border: 1px solid #242931;
}

/* input + arrow */
.input-wrapper {
  position: relative;
  width: 95%;
  margin: 15px auto 0;
}

.input-wrapper input{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.main-text-input {
  width: 100%;
  box-sizing: border-box;     
  padding-left: 28px;     
  background-color: rgb(19, 21, 26);
  border: 1px solid rgb(70, 96, 102);
  color: rgb(196, 196, 196);
  outline: none;
  overflow: hidden;
}

.arrow-icon {
  position: absolute;
  left: 10px;             
  top: 55%;                 
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.scene-info p.other-chat {
  color: rgb(224, 204, 197);
  font-size: 12px;
}

.time-stamp {
  color: rgb(102, 129, 141);
  border-color: black;
}
