@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Orbitron:wght@300;400;700&display=swap');

.nav-bar {
  position: relative;
  display: flex;
  justify-content: center;
  height: 25px;
  background-color: rgb(15, 18, 27);
  gap: 0; /* ensures no gap is added */
  padding: 0;
  margin: 0;
  white-space: normal;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.nav-item {
  background-color: rgb(10, 8, 15);
  border-style: solid;
  border-color: rgb(4, 3, 8);
  border-width: 1px;
  color: rgb(255, 255, 255);
  padding: 0 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-item:hover{
    background-color: rgb(28, 31, 56);
        box-shadow:
        0 0 14px rgba(81, 89, 207, 0.7),
        0 0 26px rgba(81, 89, 207, 0.45),
        inset 0 0 10px rgba(81, 89, 207, 0.3);
}

