.main-text-container{
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(47, 76, 104);
    width: 50%;
    min-height: 600px;
    background-color: rgb(0, 0, 0);
    margin: 20px;
    margin-left: 25%;
}

p{
    padding: 15px;
    text-align: left;    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    color: rgb(255, 255, 255);
}

.other-chat{
    color: rgb(79, 190, 166);
}